*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 1s linear;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}